<div style='float: left; padding: 0 0 0 4%;'>
    <?php if($page['id'] != null){ ?>
    <a href='<?php echo tmpl::getVar("site_root"); ?><?php echo $page["url"]; ?>'><?php echo htmlspecialchars($page['title']);?></a>
    <a href='<?php echo tmpl::getVar("site_root"); ?>admin/pages/edit.php?id=<?php echo $page["id"]; ?>'><img style='width: 12px; height: 12px;' src='<?php echo tmpl::getVar("site_root"); ?>admin/template/images/karandash.gif'/></a>
    <a href='<?php echo tmpl::getVar("site_root"); ?>admin/pages/remove.php?id=<?php echo $page["id"]; ?>'><img style='width: 12px; height: 12px;' src='<?php echo tmpl::getVar("site_root"); ?>admin/template/images/minus.png'/></a>
    <?php }else{ echo $page['title']; } ?>
</div>
<br/>
      